/*
Background color: #fcf1d8
Pink: #f2cbbb
Gray: #949494
Brown: #48260D
*/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #48260D;
  background-color: #fcf1d8;
  margin: 0;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

#nav {
  background-color: #f2cbbb;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#nav * {
  display: inline;
  color: #48260D;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav li {
  margin-left: 50px;
}

#nav li a:hover {
  color: #949494;
  text-decoration: none;
}

#content {
  color: #48260D;
  padding: 20px;
  text-align: center;
}

#portrait {
  width: 750px;
  height: 500px;
  display: block;
  margin: 0 auto 20px;
}
